@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #555;
  color: #fff;
  font-family: 'Acme', sans-serif;
}

.App {
  text-align: center;
}

.wrapper {
  min-height: calc(100vh - 50px);
}

header {
  margin: 0 0 30px 0;
  padding: 20px 0;
  background: rgb(138, 136, 136);
  border-bottom: 2px solid rgb(129, 129, 129);
}

.nav {
  list-style-type: none;
  padding-left: 0;
  margin: 10px 0 0 0;
}
.nav li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.App-name {
  margin: 0;
}

a,
a:visited {
  color: #fff;
  text-decoration: none;
}

.big-city {
  display: inline-block;
  margin: 0 0 30px 0;
  background: rgba(66, 66, 66, 0.8);
  padding: 5px 30px;
  border-radius: 10px;
}

.icon-temp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.icon {
  display: inline-block;
  margin: 0 20px 0 0;
}

.temp-big {
  display: inline-block;
  font-size: 40px;
  margin: 10px 0 0 10px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
}
.stats div {
  margin: 20px 10px;
}

.input-location {
  width: 80%;
}

.search-section {
  position: relative;
}

.google-search-field {
  border: none;
  padding: 10px;
  border-radius: 2.5px;
  width: 70%;
}

.google-ul {
  position: absolute;
  top: 38px;
  width: 100%;
}

.google-suggestion {
  width: 70%;
  margin: 0 auto;
  padding: 5px 0;
}
.google-suggestion:first-child {
  padding-top: 10px;
}
.google-suggestion:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 10px;
}

.history-btn,
.clear-history-btn {
  background: coral;
  color: #fff;
  border: none;
  border-bottom: 2px solid rgb(165, 80, 49);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 0 10px 0;
}

.latest-search-list {
  padding: 0;
  list-style-type: none;
}

.latest-search-li {
  width: 70%;
  color: #000;
  background: rgb(224, 224, 224);
  cursor: pointer;
  padding: 5px 0;
  margin: 5px auto;
  border-left: 2px solid rgb(190, 190, 190);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(56, 56, 56);
  height: 50px;
}

a.darksky {
  color: rgb(122, 122, 122);
}

@media screen and (min-width: 1024px) {
  .google-search-field {
    width: 30%;
  }
  .google-ul {
    width: 45%;
    left: 20%;
  }
}

/* Full page loader */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
}

.loader-cloud {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cloud {
  position: absolute;
  background-color: white;
  width: 200px;
  height: 80px;
  border-radius: 50px;
  animation: bounce 1.2s infinite;
}

.cloud:nth-child(2) {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -66px;
  left: 11px;
}

.cloud:nth-child(3) {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -87px;
  right: -22px;
  border-radius: 50%;
}

@keyframes bounce {
  0% {
    transform: translate3d(0);
  }
  50% {
    transform: translate3d(0, -10px, 0);
  }
  100% {
    transform: translate3d(0);
  }
}
